ul {
    list-style: none;
}

.container {
    background: rgb(250, 246, 246);
    max-width: 600px;  
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    border: 1px solid #a5a5a5;
}
.inputPlace {
    max-width: 550px;
}

.notes {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}
.basicD {
    font-size: 14px;
}
#pic-icon {
    max-width: 100px;
}
#dec-now {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    text-align: center;
}
.conversion {
    font-size: 12px;
}
.mainTemp {
    font-size: 60px;
}
hr {
    margin-bottom: 10px;
}
.inputPlace {
    text-align:center;
}
.btn btn-primary {
    background:rgb(107, 107, 107);
}
#city-name {
    font-weight: bold;
}
#desc-now {
    text-transform: capitalize;
}
.conversion .active {
    color: black;
    text-decoration: none;
}

.conversion .active:hover {
    cursor: default;
}
#forecast {
    text-align: center;
}
.forecast-date {
    font-size: 16px;
}
